var twitter = require("twitter");

var twitterToken = new twitter({
  consumer_key: 'YOUR_COMSUMER_KEY',
  consumer_secret: 'YOUR_CONSUMER_SECRET',
  access_token_key: 'YOUR_ACCESS_TOKEN_KEY',
  access_token_secret: 'YOUR_ACCESS_TOKEN_SECRET'
});

module.exports = twitterToken;
